{# This is tempplate for motd #}

The hostname for the system is: {{ ansible_facts['fqdn'] }}

PROD

This system is property of Homecredit Company.
Restricted only to authorized individuals/users.
This system is subject of monitoring.
Unauthorized users, access, and/or
modification will be prosecuted.


The hostname for system is : {{ inventory_hostname }}